.aboutMe {
  height: auto;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 2s;
  align-items: center;
}

.about-details {
  width: 100%;
  max-width: 500px;
  text-indent: 20px;
  font-weight: 600;
  font-size: 18px;
}

.aboutMe-container {
  border: solid black 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 0 0px #a32732;
  transition: box-shadow 0.5s ease-in-out;
}

.aboutMe-container:hover {
  box-shadow: 0 0 0 10px #e63946;
}

@media (max-width: 768px) {
  .aboutMe {
    margin-top: 20px;
    padding: 10px;
  }

  .about-details {
    font-size: 16px;
  }
}
